<footer class="footer">
    <div class="footer__container">
        <!--Parte del logo-->
        <div class="footer__brand">
            <div class="footer__logo">LOGO</div>
            <h2 class="footer__slogan">
                Todo gran proyecto comenzó con una idea, ¿cuál es la tuya?
            </h2>
        </div>

        <!--Enlaces de información-->

        <nav class="footer__nav" aria-label="Enlaces de información sobre Nova 2030">
            <h3 class="footer__title">Sobre Nova 2030</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__link" href="#">¿Qué es Nova 2030?</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">Cómo usar Nova 2030?</a>
                </li>
            </ul>
        </nav>

        <!--Contacto-->
        <address class="footer__contact">
            <h3 class="footer__title">Contáctanos</h3>
            <a class="footer__link" href="#">Déjanos tu opinión</a>
            <p class="footer__text">Encuéntranos en:</p>

            <ul class="footer__social" aria-label="Redes sociales de Nova 2030">
                <li class="footer__social-item">
                    <a href="" class="footer__social-link" aria-label="Visitar Facebook">
                        <i class="fa-brands fa-facebook footer__social-icon"></i>
                    </a>
                </li>
                <li class="footer__social-item">
                    <a href="" class="footer__social-link" aria-label="Visitar Instagram">
                        <i class="fa-brands fa-instagram footer__social-icon"></i>
                    </a>
                </li>
                <li class="footer__social-item">
                    <a href="" class="footer__social-link" aria-label="Visitar TikTok">
                        <i class="fa-brands fa-tiktok footer__social-icon"></i>
                    </a>
                </li>
            </ul>
        </address>
    </div>

    <!--Legalidad-->
    <div class="footer__legal">
        <hr class="footer__divider" aria-hidden="true" />
        <div class="footer__legal-container">
            <p class="footer__copyright">&copy; Nova2030</p>
            <ul class="footer__legal-list" aria-label="Enlaces legales">
                <li class="footer__legal-item">
                    <a href="" class="footer__link">Políticas de cookies</a>
                </li>

                <li class="footer__legal-item">
                    <a href="" class="footer__link">Políticas de privacidad</a>
                </li>

                <li class="footer__legal-item">
                    <a href="" class="footer__link">Avisos legales</a>
                </li>
            </ul>
        </div>
        <p class="footer__credits">
            Pensado, programado y desarrollado con pasión y amor
        </p>
    </div>
</footer>