<aside class="sidebar sidebar--menu ">
    <h2 class="sidebar__title">Nova 2030</h2>

    <nav class="sidebar__nav" aria-label="Menu de navegación principal">
        <ul class="menu">
            <li class="menu__item">
                <a class="menu__link" href="#"><i class="fa-solid fa-house"></i>Inicio</a>
            </li>
            <li class="menu__item">
                <details class="submenu">
                    <summary class="submenu__summary"><i class="fa-solid fa-diagram-project"></i>Fases <i
                            class="fa-solid fa-angle-down submenu__icon-deploy"></i></summary>
                    <ul class="submenu__list">
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Fase 1</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Fase 2</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Fase 3</a>
                        </li>
                    </ul>
                </details>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#"><i class="fa-solid fa-envelope"></i>Buzón</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#"><i class="fa-brands fa-openai"></i>Chat con IA</a>
            </li>
            <li class="menu__item">
                <details class="submenu">
                    <summary class="submenu__summary"><i class="fa-solid fa-user"></i>Perfil <i
                            class="fa-solid fa-angle-down submenu__icon-deploy"></i></summary>
                    <ul class="submenu__list">
                        <li class="submenu__item">
                            <a class="submenu__link" href="#"><i class="fa-solid fa-user-pen"></i>Editar datos
                                personales</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#"><i class="fa-solid fa-trash"></i>Eliminar cuenta</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#"><i class="fa-solid fa-sign-out-alt"></i>Cerrar sesión</a>
                        </li>
                    </ul>
                </details>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#"><i class="fa-solid fa-users"></i>Asesores</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#"><i class="fa-solid fa-gear"></i>Configuración</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#"><i class="fa-solid fa-circle-info"></i>¿Qué es Nova 2030?</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#"><i class="fa-solid fa-file-lines"></i>¿Cómo usar Nova 2030?</a>
            </li>
        </ul>
    </nav>
</aside>