<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
        <title>Document</title>
</head>

<body>
    <div class="page page--full">

        <!--Llamada al sidebar-->
        <%- include('partials/sidenavbar') %>
        <!--Llamada al header-->
        <%- include('partials/header') %>

        <main class="content">
            <div class="form-container">

                <section class="form__card">
                    
                    <h1 class="form__title">Crear una cuenta</h1>
                    <p class="form__subtitle">Únete a Nova 2030 para que tus ideas crezcan, conecten con la
                        sociedad y sean una solución real.</p>

                    <!--Barra de progreso-->
                    <div class = "form-progress">
                        <div class="form-progress__container-bar">
                            <div class = "form-progress__bar" id="barraProgreso"></div>
                        </div>
                        <div class="form-progress__labels">
                            <span class="form-progress_label form-progress__label--active" id = "labelPaso1">1. Datos personales</span>
                            <span class="form-progress_label" id = "labelPaso2">2. Datos de cuenta</span>
                        </div>
                    </div>


                    <div class="form__grid">
                        <form action="/registro" class="form" id = "registroForm" method="POST" novalidate>
                        <div class="form__step form__step--active" id="paso1">
                            <fieldset class="form__fieldset">
                                <legend class="form__legend">
                                    Datos personales
                                </legend>
            
                                <div class="form__group">
                                    <input type="text" class="form__input" id="nombre" name="nombre" placeholder=" " required pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ\s'\-]+" title="Solo se permiten letras, guiones simples, apóstrofes y espacios">
                                    <label for="nombre" class="form__label">Nombre(s)</label>
                                </div>
            
                                <div class="form__group">
                                    <input type="text" class="form__input" id="apellidop" name="apellidop" placeholder=" " required pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ\s'\-]+" title="Solo se permiten letras, guiones simples, apóstrofes y espacios">
                                    <label for="apellidop" class="form__label">Apellido paterno</label>
                                </div>
            
                                <div class="form__group">
                                    <input type="text" class="form__input" id="apellidom" name="apellidom" placeholder=" " required pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ\s'\-]+" title="Solo se permiten letras, guiones simples, apóstrofes y espacios">
                                    <label for="apellidom" class="form__label">Apellido materno</label>
                                </div>
            
                                <div class="form__group">
                                    <input type="date" class="form__input" id="fechaNacimiento" name="fechaNacimiento"
                                        min="1900-01-01" max="2026-07-22" required>
                                    <label for="fechaNacimiento" class="form__label form__label--fixed">Fecha
                                        nacimiento DD/MM/AAAA</label>
                                </div>
            
                            </fieldset>
                            <button type="button" class="form__button-send" id="btnSig">Siguiente <i class="fa-solid fa-angles-right"></i></button>
                        </div>

                        <div class="form__step form__step--hidden" id="paso2">
                            <fieldset class="form__fieldset">
                                <legend class="form__legend">
                                    Datos de la cuenta
                                </legend>
            
                                <div class="form__group">
                                    <input type="text" class="form__input" id="usuario" name="usuario" placeholder=" " required
                                        pattern="^[a-zA-Z0-9_\-]{3,20}"
                                        title="El nombre de usuario debe tener entre 3 y 20 caracteres. Además, solo se permiten letras, números, guiones bajos y medios sin espacios">
                                    <label for="usuario" class="form__label">Nombre de usuario</label>
            
                                </div>
            
            
                                <div class="form__group">
                                    <input type="email" class="form__input" id="correo" name="correo" placeholder=" " required>
                                    <label for="correo" class="form__label">Correo electrónico</label>
            
                                </div>
            
            
                                <div class="form__group">
                                    <input type="email" class="form__input" id="correoConfirmar" name="correoConfirmar"
                                        placeholder=" " required>
                                    <label for="correoConfirmar" class="form__label">Confirmar correo</label>
            
                                </div>
            
                                <div class="form__input-wrapper">
                                    <input type="password" class="form__input" id="contrasena" name="contrasena" placeholder=" "
                                        required minlength="8" 
                                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^\w\s]).{8,}"
                                        title="La contraseña no es segura, debe incluir un mínimo de: 8 caracteres, 1 mayúscula, 1 minúscula, 1 número y 1 símbolo"
                                        autocomplete="new-password">
                                    <label for="contrasena" class="form__label">contraseña</label>
            
                                    <button type="button" id="interruptorContrasena" class="form__button-toggle-psw">
                                        <i class="fa-solid fa-eye"></i>
                                    </button>
                                </div>
            
                                <div class="form__input-wrapper">
                                    <input type="password" class="form__input" id="contrasenaConfirmar" name="contrasenaConfirmar"
                                        placeholder=" " required minlength="8" autocomplete="new-password">
                                    <label for="contrasenaConfirmar" class="form__label">confirmar
                                        contraseña</label>
                                    <button type="button" id="interruptorContrasenaConfirmar" class="form__button-toggle-psw">
                                        <i class="fa-solid fa-eye"></i>
                                    </button>
                                </div>
                            </fieldset>

                            <div class="form__buttons-group">
                                <button type="button" class="form__button-send form__button-send--secondary" id="btnAnter">
                                    <i class="fa-solid fa-angles-left"></i>Anterior
                                </button>
                                <button type="submit" class="form__button-send" id = "btnEnviar">Registrarse</button>

                            </div>
                        </div>
                        
        
                        
                        <p class="form__footer-text">
                            Si ya tienes cuenta, <a href="/login" class="form__footer-link">da clic aquí para
                                iniciar sesión</a>
                        </p>
                    </form>

                    <div class="form__image-wrapper">
                    <img src="/images/pingu.webp" alt="Mascota de Nova" class="form__image">
                </div>
                    </div>
                    
                    
                </section>
                
        
            </div>
        </main>

                <!--Llamada al footer-->
                <%- include('partials/footer') %>
    </div>

</body>

</html>