/*---------------------
        RESET
------------------------*/
/*Modelo de caja  para todo el proyecto */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*Elimina márgenes por defecto, sin involucrar los dialog, o sea, ventanas modales */
*:not(dialog) {
    margin: 0;
    padding: 0;
    /* esto último se añade para limpiar paddings de listas también */
}

/*Permite animar cosas hacia "auto"*/
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
        scroll-behavior: smooth;
    }
}

/*Mejoras globales para el cuerpo de la página */
body {
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    /* Texto más nítido en appel como mac o ios*/
}

/*Valores por defecto para multimedia, así, no romperá el grid */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*Heredar fuentes del padre en elementos de formulario y enlaces */
input,
button,
textarea,
select,
a {
    font: inherit;
    color: inherit;
    text-decoration: none;
}

/* Limpiar los símbolos de las listas */
ul,
ol {
    list-style: none;
}

/*Evitar que textos largos rompan el diseño y colapsen con overflow */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Distribución de texto, evita huérfanas y viudas */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*-------------------
    VARIABLES
--------------------*/

:root{
    /*colores*/
    --navbar: #e4007c;
    --principal-title: #0056cf;
    --secundary-title: #099078;
    --background: #fdf9f2;
    --details: #ffd64d;
    --text-colour: #22252a;
    --background-secundary: #e2e8f0;
    --footer-colour:#d4ccbd;

    /*colores variaciones*/
    --cerulean-blue-50: #ecf8ff;
    --cerulean-blue-100: #d4eeff;
    --cerulean-blue-200: #b2e2ff;
    --cerulean-blue-300: #7dd2ff;
    --cerulean-blue-400: #40b8ff;
    --cerulean-blue-500: #1498ff;
    --cerulean-blue-600: #007eff;
    --cerulean-blue-700: #0071ff;
    --cerulean-blue-900: #084ba0;
    --cerulean-blue-950: #0a2e61;

    --cerise-50: #fff0fa;
    --cerise-100: #ffe4f7;
    --cerise-200: #ffc9ef;
    --cerise-300: #ff9cde;
    --cerise-400: #ff5fc7;
    --cerise-500: #ff30b1;
    --cerise-600: #f50d92;
    --cerise-800: #b0045f;
    --cerise-900: #920952;
    -cerise-950: #5b0030;


    --observatory-50: #f0fdf9;
    --observatory-100: #cbfced;
    --observatory-200: #97f8dd;
    --observatory-300: #5aeeca;
    --observatory-400: #29d8b2;
    --observatory-500: #10bc9a;
    --observatory-700: #0c7967;
    --observatory-800: #0f6054;
    --observatory-900: #115046;
    --observatory-950: #03302b;

    --bright-sun-50: #fffbeb;
    --bright-sun-100: #fff4c6;
    --bright-sun-200: #ffe888;
    --bright-sun-400: #ffc220;
    --bright-sun-500: #f9a007;
    --bright-sun-600: #dd7802;
    --bright-sun-700: #b75306;
    --bright-sun-800: #94400c;
    --bright-sun-900: #7a350d;
    --bright-sun-950: #461a02;

    --bridal-heath-100: #f9efdb;
    --bridal-heath-200: #f3dbb5;
    --bridal-heath-300: #ebc286;
    --bridal-heath-400: #e2a055;
    --bridal-heath-500: #db8634;
    --bridal-heath-600: #cc6f2a;
    --bridal-heath-700: #aa5624;
    --bridal-heath-800: #884524;
    --bridal-heath-900: #6e3a20;
    --bridal-heath-950: #3b1c0f;


    --shark-50: #fafafa;
    --shark-100: #f3f4f6;
    --shark-200: #e1e4ea;
    --shark-300: #d0d5dc;
    --shark-400: #99a2b2;
    --shark-500: #697282;
    --shark-600: #4a5363;
    --shark-700: #39404c;
    --shark-900: #15181e;
    --shark-950: #07090d;

    --zumthor-50: #f4f7fa;
    --zumthor-200: #d4dde9;
    --zumthor-300: #b6c7da;
    --zumthor-400: #93aac7;
    --zumthor-500: #7991b8;
    --zumthor-600: #677ca9;
    --zumthor-700: #5b6c9a;
    --zumthor-800: #4e597f;
    --zumthor-900: #424b66;
    --zumthor-950: #2b3040;

    --sisal-50: #f8f7f4;
    --sisal-100: #efece5;
    --sisal-300: #c7bcaa;
    --sisal-400: #b09e87;
    --sisal-500: #a0896f;
    --sisal-600: #937963;
    --sisal-700: #7b6353;
    --sisal-800: #655247;
    --sisal-900: #52443c;
    --sisal-950: #2b231f;

    /*familias de fuentes*/
    --font-body: "Nunito", sans-serif;
    --font-titles: "Momo Trust Display", sans-serif;
    --font-details: "Montserrat Alternates", sans-serif;

    /*tamaños de fuente*/
    --font-size-h1: 2rem; /* ~32px -> títulos principales */
    --font-size-h2: 1.5rem; /* ~24px -> títulos de secciones o cards*/
    --font-size-h3: 1.25rem; /* ~20px ->* subtítulos menores*/
    --font-size-body: 1rem; /*16px -> texto base*/
    --font-size-small: 0.875rem; /* 14px -> textos secundarios, como pies de fotos o alertas*/
    
    /*NOTA: MOMO TRUST DISPLAY SOLO TIENE GROSOR DE 400*/

    /*grosores de fuente*/
    --weight-light: 300; /*delgada y estilizada*/
    --weight-normal: 400; /*el texto regular*/
    --weight-medium: 500; /*intermedio stil para subtítulos*/
    --weight-bold: 700;/*negrita para títulos*/

    /*espaciados*/
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;

    /*borders y esquinas*/
    --border-thin: 1px solid #1a1a1a;
    --border-thick: 3px solid #1a1a1a;
    --radius-straight: 0px;       /* Esquinas completamente rectas */
    --radius-smooth: 8px;

    /*animaciones y transiciones*/

    /*capas*/
    --z-back: -1;
    --z-normal: 1;
    --z-header: 10;
    --z-sidebar-nav: 50;
    --z-intermediate: 75;
    --z-modal: 100;

    --border: 2px solid black;
}
/*ESTILOS BASE (ETIQUETAS LIMPIAS)*/

/*LAYOUTS MAYORES (ESTRUCTURA DE LA PÁGINA)*/
.sidebar, .content, .footer{
    font-family: var(--font-body);
    font-optical-sizing: auto;
    font-style: normal;
    padding: var(--space-sm);
}
.page{
    background-color: var(--background);
    display: grid;

    /*define una grid de 3x3*/
    grid-template-columns: 15% 66% 15%;

    grid-template-rows: auto 1fr auto;

    gap: 2%;/*espacio de separación entre bloques*/
    min-height: 100vh; /*altura mínima, el footer siempre se irá para abajo aunque haya poco contenido*/
    
    grid-template-areas: /*le da nombre a cada cuadrícula, para así crear el mapa del sitio*/
    "header header header"
    ". main sidebar-add"
    "footer footer footer";
}

.header{
    grid-area: header;
    background-color: transparent;
    border: var(--border);
    
}

.nav-mini{
    padding: var(--space-sm);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-mini__options{
    display: flex;
    gap: var(--space-lg);
    align-items: center;
}
.nav-mini__item{
    font-size: var(--font-size-h3);
    font-family: var(--font-titles);
    font-weight: 400;
    font-style: normal;
    color: var(--secundary-title);
}

.nav-mini__hamburguer-button{
    font-size: var(--font-size-h2);
    cursor: pointer;
    z-index: var(--z-intermediate);
    display:grid;
    place-items: center;/*centra los dos íconos de forma perfecta*/
    width: 32px;
    height: 32px;
}

.nav-mini__icon{
    grid-area: 1 / 1;/*los 2 íconos estarán en la misma celda, se enciman con grid*/
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/*estado por default: cerrado*/
.nav-mini__icon--bars{
    opacity: 1;
    transform: rotate(0deg) scale(1);
    color: var(--principal-title);
}

.nav-mini__icon--xmark{
    opacity: 0;
    transform: rotate(-90deg) scale(0.5);
}

/*estado activo: menú abierto*/
.nav-mini__hamburguer-button--active .nav-mini__icon--bars{
    opacity: 0;
    transform: rotate(90deg) scale(0.5);
}

.nav-mini__hamburguer-button--active .nav-mini__icon--xmark{
    opacity: 1;
    transform: rotate(0deg) scale(1);
    color: var(--background);
}
/* .nav-mini__hamburguer-button .nav-mini__icon--xmark{
    display: none;
}

.nav-mini__hamburguer-button .nav-mini__icon--bars{
    display: inline-block;
    color: var(--principal-title);
}

/*cuando el menú se activa, se invierte el ícono a mostrar
.nav-mini__hamburguer-button.nav-mini__hamburguer-button--active .nav-mini__icon--bars{
    display: none;
}

.nav-mini__hamburguer-button.nav-mini__hamburguer-button--active .nav-mini__icon--xmark{
    display: inline-block;
    color: var(--background);
} */

.nav-mini__item--name{
    color: var(--principal-title);
    font-size: var(--font-size-h1);
}

.sidebar--menu{
    
    background-color: var(--navbar);
    color: #ffffff;
    /*supoerpone el sidebar*/
    grid-row: 1/-1; /*empieza en la fila uno y termina en la última*/
    grid-column: 1;/*abarca toda la columna 1*/
    z-index: var(--z-sidebar-nav);/*se superpone*/

    /*lo esconde en su estado inactivo*/
    transform: translateX(-100%);
    transition: transform 0.3s ease;

    border: var(--border);
}

.sidebar--menu.sidebar--active{/*cuando se cliclea el menú, se despliega*/
    transform: translateX(0);
}

/* .sidebar__nav{

} */

.sidebar__title{
    font-family: var(--font-titles);
    font-size: var(--font-size-h2);
    color:var(--background);
    padding: var(--space-md);
    border-bottom: 1px solid var(--background);
    margin-bottom: var(--space-md);
    display: flex;
    justify-content: end;
}

.submenu{
    /* background-color: var(--cerise-200); */
}

.submenu__summary{
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    padding: var(--space-sm) var(--space-md) var(--space-sm) 0;
    font-family: var(--font-body);   
    color: var(--background);
    cursor: pointer;
    list-style: none;/*elimina la flecha fea*/
    transition: color 0.25s ease-in-out;
}

.submenu__icon-deploy{
    margin-left: auto;
    transition: transform 0.3s ease;
}

/*elimina la flecha del summary en navegadores viejos como chrome y safari*/
.submenu__summary::-webkit-details-marker{
    display: none;
}

.submenu__summary:hover, .menu__link:hover{
    color: var(--bright-sun-200);
    text-decoration: underline wavy;
}

/*cuando el details se abre, el ícono de flecha se voltea*/
details[open] .submenu__icon-deploy{
    transform: rotate(180deg);
}

/*estilos correspondientes a las listas desplegables*/
.submenu__list{
    padding-left: var(--space-lg);
    padding-bottom: var(--space-sm);
}

.submenu__item{
    padding: var(--space-xs);
    
}

.submenu__link{
    font-size: var(--font-size-small);
    color: var(--background);
    opacity: 0.9;
}

.submenu__link:hover{
    color: var(--bright-sun-200);
    text-decoration: underline wavy;
    opacity: 1;
    font-size: var(--font-size-small);
    transition: none;
}

.submenu__link, 
.menu__link{
    display: flex;
    align-items: center;
    gap: var(--space-sm);
}

/*estilos de opciones fuera del submenu*/
.menu__item{
    
    margin: var(--space-md) var(--space-sm);
}

.menu__link{
    transition: color 0.25s ease-in-out;
}

.content{
    grid-area: main;
    background-color: transparent;
    border: var(--border);
}

.sidebar--ads{
    grid-area:sidebar-add;
    background-color: transparent;
    border: var(--border);
}

.footer{
    grid-area: footer;
    background-color: var(--footer-colour);
    padding: var(--space-xl) var(--space-md) var(--space-md);
    color: var(--text-colour);
    /* border: var(--border); */
}

.footer__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-lg);
    max-width: 1200px;
    margin: 0 auto;

}

.footer__brand{
    display: flex;
    flex-direction: column;
}

.footer__logo{
    background-color: var(--background);
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--space-md);
}

.footer__slogan{
    font-family: var(--font-titles);
    font-size: var(--font-size-h2);
    font-weight: var(--weight-normal);
    color: var(--cerulean-blue-900);
    margin: 0;
}

.footer__title{
    font-family: var(--font-titles);
    font-size: var(--font-size-h3);
    color: var(--observatory-700);
    margin-bottom: var(--space-md);
}

.footer__list{
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.footer__link{
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    color:var(--text-colour);
    transition: color 0.25s ease-in-out;
}

.footer__link:hover{
    color: var(--bright-sun-950);
    text-decoration: underline wavy;
}

.footer__link:focus-visible{
    outline: 2px dashed var(--navbar);
    outline-offset: 4px;
}

.footer__contact{
    font-style: normal;
}

/* .footer__link--button{
    display: inline-block;
    margin-bottom: var(--space-md);
    font-weight: var(--weight-bold);
    color: var(--principal-title);
} */

.footer__text{
    font-size: var(--font-size-body);
    margin: var(--space-sm) 0;
}

.footer__social{
    display: flex;
    gap: var(--space-md);
}

.footer__social-icon{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    
    border-radius: 50%;
    font-size: var(--font-size-h3);
    transition: transform 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

.footer__social-link:hover .footer__social-icon{
    transform: scale(1.1);
    color:var(--bridal-heath-950);
}

.footer__legal{
    max-width: 1200px;
    margin: var(--space-xl) auto 0;
}

.footer__divider{
    border: none;
    border-top: 2px solid var(--cerise-800);
    margin-bottom: var(--space-md);
}

.footer__legal-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--space-md);
}

.footer__copyright{
    font-family: var(--font-body);
    font-weight: var(--weight-medium);
    color: var(--text-colour);
    font-size: var(--font-size-body);
    opacity: 0.9;
}

.footer__legal-list{
    display: flex;
    align-items: center;
    gap: var(--space-sm);
}

.footer__credits{
    text-align: center;
    font-family: var(--font-body);
    font-size: var(--font-size-small);
    margin-top: var(--space-lg);
    opacity: 0.5;
}

.footer__legal-item:not(:last-child):after{
    content: " |";
    margin-left: var(--space-sm);
    color: var(--text-colour);
    opacity: 0.6;
}
/*COMPONENTES ESPECÍFICOS*/

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--space-md);
    padding: var(--space-md);
    width: 100%;
}
.card{
    background-color: var(--cerulean-blue-50);
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-smooth);
    min-height: 250px;
    /* padding: var(--space-md); */
    color: var(--cerulean-blue-950);
    border: 1.5px solid var(--zumthor-600);
    border-radius: var(--radius-smooth);
}

.card__header{
    padding: var(--space-xs) var(--space-sm);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--space-md);
    background-color: var(--cerulean-blue-200);
    border-radius: var(--radius-smooth) var(--radius-smooth) 0 0;
    z-index: var(--z-normal);
    
}

.card__title, .card__icon{
    justify-content: space-between;
    font-family: var(--font-titles);
    font-size: var(--font-size-h2);
    font-weight: var(--weight-normal);
    color: var(--principal-title);
}

.card__description{
    padding: var(--space-xs) var(--space-md);
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    line-height: 1.5;
}

.card__button{
    display: flex;
    flex-direction: row;
    gap: var(--space-sm);
    align-items: center;
    align-self: flex-end;
    margin: auto var(--space-md) var(--space-md);
    padding: var(--space-sm);
    background-color: var(--principal-title);
    color: white;
    font-family: var(--font-body);
    padding: var(--space-md);
    border-style: none;
    border-radius: var(--radius-smooth);
    cursor: pointer;
    height: fit-content;
}

.card--block{
    background-color: var(--zumthor-300);
    opacity: 0.85;
}

.card__header--block{
    background-color: var(--zumthor-950);
}

.card__title--block,
.card__icon--block{
    color: var(--zumthor-200);
}

.card__button--block{
    background-color: var(--zumthor-400);
    color: var(--zumthor-700);
    cursor: not-allowed;
    
}







/*MEDIA QUERIES*/

/*--------------------
    footer responsive
------------------------*/

@media (max-width: 768px){
    .footer__container{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer__brand{
        align-items: center;
    }

    .footer__social{
        justify-content: center;
    }

    .footer__legal-container{
        flex-direction: column;
        text-align: center;
    }

    .footer__legal-list{
        flex-direction: column;
        gap: var(--space-sm);
    }


}