/*---------------------
        RESET
------------------------*/
/*Modelo de caja  para todo el proyecto */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*Elimina márgenes por defecto, sin involucrar los dialog, o sea, ventanas modales */
*:not(dialog) {
    margin: 0;
    padding: 0;
    /* esto último se añade para limpiar paddings de listas también */
}

/*Permite animar cosas hacia "auto"*/
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
        scroll-behavior: smooth;
    }
}

/*Mejoras globales para el cuerpo de la página */
body {
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    /* Texto más nítido en appel como mac o ios*/
}

/*Valores por defecto para multimedia, así, no romperá el grid */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*Heredar fuentes del padre en elementos de formulario y enlaces */
input,
button,
textarea,
select,
a {
    font: inherit;
    color: inherit;
    text-decoration: none;
}

/* Limpiar los símbolos de las listas */
ul,
ol {
    list-style: none;
}

/*Evitar que textos largos rompan el diseño y colapsen con overflow */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Distribución de texto, evita huérfanas y viudas */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*-------------------
    VARIABLES
--------------------*/

:root{
    /*colores*/
    --navbar: #e4007c;
    --principal-title: #0056cf;
    --secundary-title: #099078;
    --background: #fdf9f2;
    --details: #ffd64d;
    --text-colour: #22252a;
    --background-secundary: #e2e8f0;
    --footer-colour:#d4ccbd;

    /*colores variaciones*/
    --cerulean-blue-50: #ecf8ff;
    --cerulean-blue-100: #d4eeff;
    --cerulean-blue-200: #b2e2ff;
    --cerulean-blue-300: #7dd2ff;
    --cerulean-blue-400: #40b8ff;
    --cerulean-blue-500: #1498ff;
    --cerulean-blue-600: #007eff;
    --cerulean-blue-700: #0071ff;
    --cerulean-blue-900: #084ba0;
    --cerulean-blue-950: #0a2e61;

    --cerise-50: #fff0fa;
    --cerise-100: #ffe4f7;
    --cerise-200: #ffc9ef;
    --cerise-300: #ff9cde;
    --cerise-400: #ff5fc7;
    --cerise-500: #ff30b1;
    --cerise-600: #f50d92;
    --cerise-800: #b0045f;
    --cerise-900: #920952;
    -cerise-950: #5b0030;


    --observatory-50: #f0fdf9;
    --observatory-100: #cbfced;
    --observatory-200: #97f8dd;
    --observatory-300: #5aeeca;
    --observatory-400: #29d8b2;
    --observatory-500: #10bc9a;
    --observatory-700: #0c7967;
    --observatory-800: #0f6054;
    --observatory-900: #115046;
    --observatory-950: #03302b;

    --bright-sun-50: #fffbeb;
    --bright-sun-100: #fff4c6;
    --bright-sun-200: #ffe888;
    --bright-sun-400: #ffc220;
    --bright-sun-500: #f9a007;
    --bright-sun-600: #dd7802;
    --bright-sun-700: #b75306;
    --bright-sun-800: #94400c;
    --bright-sun-900: #7a350d;
    --bright-sun-950: #461a02;

    --bridal-heath-100: #f9efdb;
    --bridal-heath-200: #f3dbb5;
    --bridal-heath-300: #ebc286;
    --bridal-heath-400: #e2a055;
    --bridal-heath-500: #db8634;
    --bridal-heath-600: #cc6f2a;
    --bridal-heath-700: #aa5624;
    --bridal-heath-800: #884524;
    --bridal-heath-900: #6e3a20;
    --bridal-heath-950: #3b1c0f;


    --shark-50: #fafafa;
    --shark-100: #f3f4f6;
    --shark-200: #e1e4ea;
    --shark-300: #d0d5dc;
    --shark-400: #99a2b2;
    --shark-500: #697282;
    --shark-600: #4a5363;
    --shark-700: #39404c;
    --shark-900: #15181e;
    --shark-950: #07090d;

    --zumthor-50: #f4f7fa;
    --zumthor-200: #d4dde9;
    --zumthor-300: #b6c7da;
    --zumthor-400: #93aac7;
    --zumthor-500: #7991b8;
    --zumthor-600: #677ca9;
    --zumthor-700: #5b6c9a;
    --zumthor-800: #4e597f;
    --zumthor-900: #424b66;
    --zumthor-950: #2b3040;

    --sisal-50: #f8f7f4;
    --sisal-100: #efece5;
    --sisal-300: #c7bcaa;
    --sisal-400: #b09e87;
    --sisal-500: #a0896f;
    --sisal-600: #937963;
    --sisal-700: #7b6353;
    --sisal-800: #655247;
    --sisal-900: #52443c;
    --sisal-950: #2b231f;

    --error: #ff4d4d;
    


    /*familias de fuentes*/
    --font-body: "Nunito", sans-serif;
    --font-titles: "Momo Trust Display", sans-serif;
    --font-details: "Montserrat Alternates", sans-serif;

    /*tamaños de fuente*/
    --font-size-h1: 2rem; /* ~32px -> títulos principales */
    --font-size-h2: 1.5rem; /* ~24px -> títulos de secciones o cards*/
    --font-size-h3: 1.25rem; /* ~20px ->* subtítulos menores*/
    --font-size-body: 1rem; /*16px -> texto base*/
    --font-size-small: 0.875rem; /* 14px -> textos secundarios, como pies de fotos o alertas*/
    --font-size-xsmall: 0.75rem; /*12px -> notificaciones*/
    --font-size-big: 4rem;
    --font-size-jumbo: 6rem; /*~64px*/
    /*NOTA: MOMO TRUST DISPLAY SOLO TIENE GROSOR DE 400*/

    /*grosores de fuente*/
    --weight-light: 300; /*delgada y estilizada*/
    --weight-normal: 400; /*el texto regular*/
    --weight-medium: 500; /*intermedio stil para subtítulos*/
    --weight-bold: 700;/*negrita para títulos*/

    /*espaciados*/
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-xxl: 80px;

    /*borders y esquinas*/
    --border-thin: 1px solid #1a1a1a;
    --border-thick: 3px solid #1a1a1a;

    --radius-straight: 0px;  
    --radius-ultra-smooth: 4px;      /* Esquinas completamente rectas */
    --radius-smooth: 8px;
    --radius-full: 9999px;

    /*animaciones y transiciones*/

    /*capas*/
    --z-back: -1;
    --z-normal: 1;
    --z-header: 10;
    --z-sidebar-nav: 50;
    --z-intermediate: 75;
    --z-modal: 100;

    /*fill de progressbar*/
    --progress-width: 50%;

    --border: 2px solid black;
}
/*ESTILOS BASE (ETIQUETAS LIMPIAS)*/

/*ANIMACIONES GLOBALES*/
@keyframes fadeIn{
    from{ 
        opacity: 0;
        transform: translateY(5px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes shake {
    10%, 90% { transform: translate3d(-1px, 0, 0);}
    20%,80% { transform: translate3d(2px, 0, 0);}
    30%, 50%, 70% {transform: translate3d(-4px, 0, 0);}
    40%, 60% { transform: translate3d(4px, 0, 0);}
}

/*LAYOUTS MAYORES (ESTRUCTURA DE LA PÁGINA)*/
.sidebar, .content, .footer{
    font-family: var(--font-body);
    font-optical-sizing: auto;
    font-style: normal;
    padding: var(--space-sm);
}
.page{
    background-color: var(--background);
    display: grid;

    /*define una grid de 3x3*/
    grid-template-columns: 15% 1fr 15%;

    grid-template-rows: auto 1fr auto;

    gap: 2%;/*espacio de separación entre bloques, solo separa columnas no, filas*/
    min-height: 100vh; /*altura mínima, el footer siempre se irá para abajo aunque haya poco contenido*/
    
    grid-template-areas: /*le da nombre a cada cuadrícula, para así crear el mapa del sitio*/
    "header header header"
    ". main sidebar-add"
    "footer footer footer";
    min-width: 0; /*no se estirará por culpa de los elementos hijos*/
}

/*full para layout sin anuncios*/
.page--full{
    /*se quita la tercera columna*/
    grid-template-columns: 15% 1fr;
    /*se borra el sidebar de ununcios (sidebar-add) del mapa*/
    grid-template-areas: 
    "header header"
    ". main"
    "footer footer";
}


.header{
    grid-area: header;
    background-color: transparent;
    border: var(--border);
    
}

.nav-mini{
    padding: var(--space-sm);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-mini__options{
    display: flex;
    gap: var(--space-lg);
    align-items: center;
}
.nav-mini__item{
    font-size: var(--font-size-h3);
    font-family: var(--font-titles);
    font-weight: 400;
    font-style: normal;
    color: var(--secundary-title);
}

.nav-mini__hamburguer-button{
    font-size: var(--font-size-h2);
    cursor: pointer;
    z-index: var(--z-intermediate);
    display:grid;
    place-items: center;/*centra los dos íconos de forma perfecta*/
    width: 32px;
    height: 32px;
}

.nav-mini__icon{
    grid-area: 1 / 1;/*los 2 íconos estarán en la misma celda, se enciman con grid*/
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/*estado por default: cerrado*/
.nav-mini__icon--bars{
    opacity: 1;
    transform: rotate(0deg) scale(1);
    color: var(--principal-title);
}

.nav-mini__icon--xmark{
    opacity: 0;
    transform: rotate(-90deg) scale(0.5);
}

/*estado activo: menú abierto*/
.nav-mini__hamburguer-button--active .nav-mini__icon--bars{
    opacity: 0;
    transform: rotate(90deg) scale(0.5);
}

.nav-mini__hamburguer-button--active .nav-mini__icon--xmark{
    opacity: 1;
    transform: rotate(0deg) scale(1);
    color: var(--background);
}


.nav-mini__item--name{
    color: var(--principal-title);
    font-size: var(--font-size-h1);
}

.sidebar--menu{
    
    background-color: var(--navbar);
    color: #ffffff;
    /*supoerpone el sidebar*/
    grid-row: 1/-1; /*empieza en la fila uno y termina en la última*/
    grid-column: 1;/*abarca toda la columna 1*/
    z-index: var(--z-sidebar-nav);/*se superpone*/

    /*lo esconde en su estado inactivo*/
    transform: translateX(-100%);
    transition: transform 0.3s ease;

    border: var(--border);
}

.sidebar--menu.sidebar--active{/*cuando se cliclea el menú, se despliega*/
    transform: translateX(0);
}

/* .sidebar__nav{

} */

.sidebar__title{
    font-family: var(--font-titles);
    font-size: var(--font-size-h2);
    color:var(--background);
    padding: var(--space-md);
    border-bottom: 1px solid var(--background);
    margin-bottom: var(--space-md);
    display: flex;
    justify-content: end;
}

.submenu__summary{
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    padding: var(--space-sm) var(--space-md) var(--space-sm) 0;
    font-family: var(--font-body);   
    color: var(--background);
    cursor: pointer;
    list-style: none;/*elimina la flecha fea*/
    transition: color 0.25s ease-in-out;
}

.submenu__icon-deploy{
    margin-left: auto;
    transition: transform 0.3s ease;
}

/*elimina la flecha del summary en navegadores viejos como chrome y safari*/
.submenu__summary::-webkit-details-marker{
    display: none;
}

.submenu__summary:hover, .menu__link:hover{
    color: var(--bright-sun-200);
    text-decoration: underline wavy;
}

/*cuando el details se abre, el ícono de flecha se voltea*/
details[open] .submenu__icon-deploy{
    transform: rotate(180deg);
}

/*estilos correspondientes a las listas desplegables*/
.submenu__list{
    padding-left: var(--space-lg);
    padding-bottom: var(--space-sm);
}

.submenu__item{
    padding: var(--space-xs);
    
}

.submenu__link{
    font-size: var(--font-size-small);
    color: var(--background);
    opacity: 0.9;
}

.submenu__link:hover{
    color: var(--bright-sun-200);
    text-decoration: underline wavy;
    opacity: 1;
    font-size: var(--font-size-small);
    transition: none;
}

.submenu__link, 
.menu__link{
    display: flex;
    align-items: center;
    gap: var(--space-sm);
}

/*estilos de opciones fuera del submenu*/
.menu__item{
    
    margin: var(--space-md) var(--space-sm);
}

.menu__link{
    transition: color 0.25s ease-in-out;
}

.content{
    grid-area: main;
    background-color: transparent;
    border: var(--border);
    width: 100%;
    min-width: 0;
}

.sidebar--ads{
    grid-area:sidebar-add;
    background-color: transparent;
    border: var(--border);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~
            FOOTER
~~~~~~~~~~~~~~~~~~~~~~~~~*/
.footer{
    grid-area: footer;
    background-color: var(--footer-colour);
    padding: var(--space-xl) var(--space-md) var(--space-md);
    color: var(--text-colour);
    /* border: var(--border); */
}

.footer__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-lg);
    max-width: 1200px;
    margin: 0 auto;

}

.footer__brand{
    display: flex;
    flex-direction: column;
}

.footer__logo{
    background-color: var(--background);
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--space-md);
}

.footer__slogan{
    font-family: var(--font-titles);
    font-size: var(--font-size-h2);
    font-weight: var(--weight-normal);
    color: var(--cerulean-blue-900);
    margin: 0;
}

.footer__title{
    font-family: var(--font-titles);
    font-size: var(--font-size-h3);
    color: var(--observatory-700);
    margin-bottom: var(--space-md);
}

.footer__list{
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.footer__link{
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    color:var(--text-colour);
    transition: color 0.25s ease-in-out;
}

.footer__link:hover{
    color: var(--bright-sun-950);
    text-decoration: underline wavy;
}

.footer__link:focus-visible{
    outline: 2px dashed var(--navbar);
    outline-offset: 4px;
}

.footer__contact{
    font-style: normal;
}

/* .footer__link--button{
    display: inline-block;
    margin-bottom: var(--space-md);
    font-weight: var(--weight-bold);
    color: var(--principal-title);
} */

.footer__text{
    font-size: var(--font-size-body);
    margin: var(--space-sm) 0;
}

.footer__social{
    display: flex;
    gap: var(--space-md);
}

.footer__social-icon{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    
    border-radius: 50%;
    font-size: var(--font-size-h3);
    transition: transform 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

.footer__social-link:hover .footer__social-icon{
    transform: scale(1.1);
    color:var(--bridal-heath-950);
}

.footer__legal{
    max-width: 1200px;
    margin: var(--space-xl) auto 0;
}

.footer__divider{
    border: none;
    border-top: 2px solid var(--cerise-800);
    margin-bottom: var(--space-md);
}

.footer__legal-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--space-md);
}

.footer__copyright{
    font-family: var(--font-body);
    font-weight: var(--weight-medium);
    color: var(--text-colour);
    font-size: var(--font-size-body);
    opacity: 0.9;
}

.footer__legal-list{
    display: flex;
    align-items: center;
    gap: var(--space-sm);
}

.footer__credits{
    text-align: center;
    font-family: var(--font-body);
    font-size: var(--font-size-small);
    margin-top: var(--space-lg);
    opacity: 0.5;
}

.footer__legal-item:not(:last-child):after{
    content: " |";
    margin-left: var(--space-sm);
    color: var(--text-colour);
    opacity: 0.6;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~
    BANNER PARA REGISTRO
~~~~~~~~~~~~~~~~~~~~~~~~~*/
.top-banner{
    display: none;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        45deg,  var(--cerise-200), var(--cerise-100), var(--cerise-50), var(--cerise-200)
    );
    /* background-color: var(--observatory-100); */
    padding: var(--space-xs) var(--space-md);
    font-family: var(--font-details);
    position: relative;
    text-align: center;
    /* border-radius: var(--radius-smooth); */
    /* border: 1px solid var(--observatory-400); */
}

.top-banner__text{
    margin: 0;
    font-size: var(--font-size-small);
    color: var(--text-colour);
}

.top-banner__link{
    font-weight: var(--weight-bold);
    color: var(--principal-title);
    
    margin-left: var(--space-sm);
}

.top-banner__close-btn{
    background: none;
    border: none;
    position: absolute;
    left: 1rem;
    cursor: pointer;
    font-size: var(--font-size-body);
    color: var(--text-colour);
    transition: color 0.3s ease-in-out;
}

.top-banner__close-btn:hover{
    color: var(--cerise-800);

}


/*BLOQUEO DE CONTENIDO*/
.content--locked{
    position: relative;
    overflow:clip;
}

/*el contenido real detrás del candado*/
.content--locked .content__restricted-area{
    /*apaga toda la interacción para un poco más de seguridad desde front*/
    pointer-events: none;
    user-select: none;

    /*difumina un poco el fondo para enganchar visualmente*/
    filter: blur(1px) grayscale(20%);
    opacity: 0.3;
    
}

/**Notificacion de bloqueado/
/*contenedor principal de la pantalla de bloque (donde va el texto)*/
.content-lock{
    position: absolute;
    inset: 0;
    /*top: 25vh;se mantiene visible y centrado mientras se hace scroll*/
    /* width: 100%; */
    pointer-events: none;
    z-index: var(--z-header);
    /* margin: var(--space-lg) 0; */
}

.content-lock__overlay{
    position: absolute;
    inset: 0;
    background-color: color-mix(in srgb, 
    var(--shark-400) 20%, 
    transparent);
    pointer-events: auto;
}

/*contenerdor del texto e ícono*/
.content-lock__alert{
    position: sticky;
    top: 20%;
    
    z-index: 20;
    pointer-events: auto;
    background-color: var(--cerise-100);
    border-left: 6px solid var(--cerise-600);
    border-radius: var(--radius-smooth);
    padding: var(--space-lg) var(--space-md) var(--space-lg) calc(var(--space-xl) + var(--space-md));
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 86, 207, 0.15);
    width: 90%;
    max-width: 450px;
    margin: 15vh auto;
    

}

.content-lock__title{
    font-family: var(--font-details);
    color: var(--cerise-800);
    font-size: var(--font-size-h2);
    margin-bottom: var(--space-xs);
    font-weight: var(--weight-medium);
}

.content-lock__text{
    font-family: var(--font-body);
    color: var(--text-colour);
    font-size: var(--font-size-body);
    margin-bottom: 0;
}

.content-lock__icon{
    position: absolute;
    top: 1.2rem;
    left: 1rem;
    
    
    color: var(--cerise-600);
    font-size: var(--font-size-h2);
}

.content-lock__body{
    text-align: center;
    width: 100%;
}

.content-lock__link{
    color: var(--principal-title);
    font-weight: var(--weight-bold);
}




/*estilos para modo preview*/
.content--preview{
    position: relative;
}

/*dara un efecto vidriera, todo en grises pero con legibilidad*/
.content--preview .content__restricted-area{
    pointer-events: none;
    user-select: none;
    filter: grayscale(100%);
    opacity: 0.6;
}
.preview-alert{
    display: flex;
    align-items: center;
    background-color: var(--cerise-100);
    border-left: 4px solid var(--cerise-600);
    border-radius: var(--radius-smooth);
    padding: var(--space-md) var(--space-lg);
    margin-bottom: var(--space-xl);
    box-shadow: 4px 5px 1px rgb(176, 4, 95, 0.4);
}

.preview-alert__icon{
    color: var(--cerise-600);
    font-size: var(--font-size-h2);
    margin-right: var(--space-md);
}

.preview-alert__text{
    color: var(--text-colour);
    font-size: var(--font-size-body);
    margin: 0;
}



/*---------------------------

    COMPONENTES ESPECÍFICOS

-------------------------*/

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: var(--space-md);
    padding: var(--space-md);
    width: 100%;
}
.card{
    background-color: var(--cerulean-blue-50);
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-smooth);
    min-height: 250px;
    /* padding: var(--space-md); */
    color: var(--cerulean-blue-950);
    border: 1.5px solid var(--zumthor-600);
    border-radius: var(--radius-smooth);
}

.card__header{
    padding: var(--space-xs) var(--space-sm);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--space-md);
    background-color: var(--cerulean-blue-200);
    border-radius: var(--radius-smooth) var(--radius-smooth) 0 0;
    z-index: var(--z-normal);
    
}

.card__header--profile{
    border-radius: var(--radius-straight);
    background-color: transparent;
    
}

.card__title, .card__icon{
    justify-content: space-between;
    font-family: var(--font-titles);
    font-size: var(--font-size-h2);
    font-weight: var(--weight-normal);
    color: var(--principal-title);
}


.card__description, 
.card__degree, 
.card__category, 
.card__schedule{
    padding: var(--space-xs) var(--space-md);
    font-family: var(--font-body);   
    line-height: 1.5;
}
.card__description{
    font-size: var(--font-size-body);
}
.card__degree{
    font-size: var(--font-size-h3);
}

.card__category{
    padding: var(--space-xs);
    font-family: var(--font-details);
    font-weight: var(--weight-bold);
    color: var(--cerulean-blue-950);
    font-size: var(--font-size-small);
    display: block;
    width: fit-content;
    
    background-color: var(--bright-sun-200);
    border-radius: var(--radius-smooth);
    margin: var(--space-md) 0;
}

.card__schedule{
    font-size: var(--font-size-small);
    margin-bottom: var(--space-sm);
}

.card__button{
    display: flex;
    flex-direction: row;
    gap: var(--space-sm);
    align-items: center;
    align-self: flex-end;
    margin: auto var(--space-md) var(--space-md);
    padding: var(--space-sm);
    background-color: var(--principal-title);
    color: white;
    font-family: var(--font-body);
    padding: var(--space-md);
    border-style: none;
    border-radius: var(--radius-smooth);
    cursor: pointer;
    height: fit-content;
}

.card--block{
    background-color: var(--zumthor-300);
    opacity: 0.85;
}

.card__header--block{
    background-color: var(--zumthor-950);
}

.card__title--block,
.card__icon--block{
    color: var(--zumthor-200);
}

.card__button--block{
    background-color: var(--zumthor-400);
    color: var(--zumthor-700);
    cursor: not-allowed;
    
}

.card__image{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;   
    border-radius: var(--radius-smooth) var(--radius-smooth) 0 0 ;
}
/*~~~~~~~~~~~~~~~~~~~~~
Formulario registro
~~~~~~~~~~~~~~~~~~~~~*/

.form-container{
    /* display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: var(--space-xl);
    max-width: 1200px; */
    margin: var(--space-md);
    align-items: center;
    padding: 0 var(--space-md);
    
}

.form__card{
    
    background-color: var(--background-secundary);
    padding: var(--space-xl);
    border-radius: var(--radius-smooth);
    box-shadow: 0 0 5px var(--cerulean-blue-950);
    border: 1px solid var(--shark-200);
    max-width: 800px;
    margin: var(--space-xl) auto;
}

.form__grid{
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: var(--space-xl);
    align-items: start;
    margin-top: var(--space-lg);
}
.form__title,
.form__subtitle{
    text-align: left;
}

.form__title{
    font-family: var(--font-titles);
    font-size: var(--font-size-h1);
    color: var(--principal-title);
    margin-bottom: var(--space-xs);
}

.form__subtitle{
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    color: var(--text-colour);
    margin-bottom: var(--space-lg);
    opacity: 0.85;
}
.form{
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-md) var(--space-md);
    margin-bottom: var(--space-md); 



    max-width: 600px;
    margin: var(--space-xl) auto;
    padding: var(--space-xl);
    background-color: var(--background-secundary);
    border-radius: var(--radius-smooth);
    box-shadow: 0 3px 4px rgba(0,0,0,0.2); */
    width: 100%;
}

.form__fieldset{
    border: none;/*elimina el borde feo*/
    margin-top: var(--space-sm);
}

.form__legend{
    font-family: var(--font-titles);
    font-size: var(--font-size-h2);
    color: var(--principal-title);
    margin-bottom: var(--space-lg);
    width: 100%;
}

/*contenedor de cada campo, el group y lo de ver contraseña group*/
.form__group, 
.form__input-wrapper{
    position: relative;
    margin-bottom: var(--space-lg);/*espacio entre los inputs*/
}

/*input*/
.form__input{
    width: 100%;
    padding: 1rem;
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    color: var(--text-colour);
    background-color: var(--background);
    border: 2px solid var(--shark-300);
    border-radius: var(--radius-smooth);
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/*espacio para que el la contraseña no choque con el ícono*/
.form__input-wrapper .form__input{
    padding-right: 3rem;
}

/*etiqueta flotante estado inactivo o como placeholder*/
.form__label{
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--background);/*debe coincidir con el fondo para tapar el border del input sobre el cual se sobrepone*/
    padding: 0 var(--space-xs);
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    color: var(--shark-500);
    pointer-events: none;/*porque los clics atraviesan el label y tocan el input*/
    transition: top 0.3s ease, transform 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}


/*La magia del label flotante
para cuando el input ya tenga texto guardado, o bien, foco 0*/
.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label,
.form__input.form__input--error + .form__label{
    top: 0;
    transform: translateY(-50%) scale(0.85);
    color: var(--principal-title);
    font-weight: var(--weight-medium);
    background: linear-gradient(
        to bottom, 
        var(--background-secundary) 59%, 
        var(--background) 59%
    );
    padding: 0 0.3rem;/*para que el texto no toque la línea del borde*/
}

/*label rojo en error*/
.form__input.form__input--error + .form__label{
    color: var(--error);
}
/*caso especial input de fecha*/
.form__label--fixed{
    top: 0 !important;
    transform: translateY(-50%) scale(0.85) !important;
    color: var(--principal-title) !important;
}

/*para cuando el input recibe el foco, es decir, que el usaurio está escirbiendo*/
.form__input:focus{
    border-color: var(--principal-title);
    box-shadow: 0 0 0 3px rgba(0, 86, 207, 0.15);
}

/*posicionamiento del botón de ojo, o sea, ver o esconder contraseña*/
.form__button-toggle-psw{
    position: absolute; 
    right: 1rem;
    top: 2rem;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: var(--shark-500);
    cursor: pointer;
    font-size: var(--font-size-h3);
    transition: color 0.3s ease;
    padding: 0;/*limpia los paddings heredados del btn*/
    transition: color 0.3s ease;
}

.form__button-toggle-psw:hover,
.form__button-toggle-psw:focus-visible{
    color:var(--principal-title);
    outline: none;
}

/*botón de enviar*/

.form__button-send{
    background-color: var(--principal-title);
    color: #ffffff;
    font-family: var(--font-body);
    font-weight: var(--weight-bold);
    font-size: var(--font-size-h3);
    padding: 0.85rem var(--space-md);
    border: none;
    border-radius: var(--radius-smooth);
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease, transform 0.1s ease;
    margin-top: var(--space-md);
    box-shadow: 0 4px 12px rgba(0, 86, 207, 0.25);
}

.form__button-send:hover, .splide-call-card__button{
    background-color: var(--cerulean-blue-700);
}

.form__button-send:active{
    transform: scale(0.95);
}

/*texto de si ya tiene cuenta*/
.form__footer-text{
    text-align: center;
    margin-top: var(--space-md);
    font-family: var(--font-body);
    font-size: var(--font-size-small);
    color: var(--text-colour);
}

.form__footer-link{
    color: var(--principal-title);
    text-decoration: underline wavy;
    font-weight: var(--weight-medium);
}

/*imagen de mascota*/

.form__image-wrapper{
    display: flex;
    justify-content: center;
    
}

.form__image{
    max-width: 100%;
    height: auto;
    border-radius: var(--radius-smooth);
}


/*formulario por fases*/

.form__step{
    display: none;
}

.form__step--active{
    display: block;
    animation: fadeIn 0.4s ease-in-out;
}

.form__step--hidden{
    display: none;
}

/*estilos barra de progreso*/
.form-progress{
    margin-bottom: var(--space-lg);
}

.progress-bar{
    background-color: var(--shark-300);
    height: 8px;
    border-radius: var(--radius-full);
    overflow: hidden;
    /* margin-bottom: var(--space-xs); */
}

.progress-bar__fill{
    background-color: var(--bright-sun-400);
    height: 100%;
    width: var(--progress-width, 50%);
    transition: width 0.3s ease-in-out;
}

.form-progress__labels{
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-small);
    color: var(--shark-400);
}

.form-progress__label--active{
    color: var(--principal-title);
    font-weight: var(--weight-bold);
}

/*contenedor felxible para los botones finales*/
.form__buttons-group{
    display: flex;
    gap: var(--space-md);
    margin-top: var(--space-md);
}

/*modificadores para el botónde anterior*/
.form__button-send--secondary{
    background-color: var(--cerise-600);
    
    
}

.form__button-send--secondary:hover{
    background-color: var(--cerise-800);
    color: #ffffff;
}

/*input error*/
.form__input--error{
    border-color: var(--error);
    background-color: rgba(255, 77, 77, 0.05);
}

.form__error-text{
    color: var(--error);
    font-size: var(--font-size-small);
    margin-top: var(--space-xs);
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    animation: fadeIn 0.3s ease;
}

.shake{
    animation: shake 0.4s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

/*para el sweetAlert2*/
.swal-popup-personalized{
    overflow: visible;
    padding-top: 3.5rem;
    background-color: var(--bridal-heath-100);
    color: var(--text-colour);
    border-radius: var(--radius-smooth);
    border: 2px solid var(--bridal-heath-900);
    font-family: var(--font-body);
    padding: var(--space-lg);
    box-shadow: 0 0 5px var(--bridal-heath-800);
}

/*titulo de la alerta*/
.swal-title-personalized{
    font-family: var(--font-details);
    color: var(--observatory-700);
    font-size: var(--font-size-h1);
    font-weight: var(--weight-medium);
}



/*botón personalizado*/
.swal-button-personalized{
    background-color: var(--cerise-600);
    color: var(--bright-sun-50);
    font-family: var(--font-body);
    font-weight: var(--weight-medium);
    padding: 0.8rem 1.8rem;
    border-radius: var(--radius-smooth);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.swal-button-personalized:hover{
    background-color: var(--navbar);
}

/*eliminar el círculo y borde que trae por defecto sweet*/
.swal2-icon.swal-icon-fa{
    border: none;
    background: transparent;
}

.swal2-popup .swal-icon-fa{
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    width: 5.5rem;
    height: 5.5rem;
    background-color: var(--bright-sun-100);
    /* border: 2px solid var(--bridal-heath-900); */
    
    border-radius: var(--radius-full);
    box-shadow: 0 0px 5px var(--bridal-heath-800);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/*da estilo al ícono de FA*/
.swal-icon-fa svg,
.swal-icon-fa i{
    
    font-size: 5.5rem;
    width: 5.5rem;
    height: 5.5rem;
    color: var(--observatory-500, #0c7967);
    
}

/*variante íconos de error o advertencia*/
.swal-icon-fa.swal-icon-fa--error i,
.swal-icon-fa.swal-icon-fa--error svg{
    color: var(--error, #ff4d4d);
}



/*variante de título para cuando sea error*/
.swal-title-personalized.swal-title-personalized--error{
    color: var(--error, #ff4d4d) !important;
}


/*barra progreso de fases*/
.header__progress-container{
    /* border: 2px solid lightslategrey; */
    width: 100%;
    max-width: 700px;
    margin: var(--space-md) auto;
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-rows: repeat(3, minmax(28px, auto));

    grid-template-areas: 
    "square row1"
    "square row2"
    "square row3";
    /* padding: var(--space-sm) var(--space-md); */
    
}

.header__progressbar-action{
    grid-column: square;
    border-right: 1.5px solid var(--shark-400);
    /* border: 2px solid lightslategrey; */
    
    grid-row: 1/-1;
    
    padding: var(--space-xs);
    font-family: var(--font-titles);
    font-size: var(--font-size-h2);
    justify-items: center;
    font-weight: var(--weight-normal);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header__btn-back{
    color: var(--principal-title);
    font-size: var(--font-size-big);
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
    
}

.header__btn-back:hover{
    transform: scale(1.1);
    color: var(--cerulean-blue-900);
}
.header__progressbar-action-phase{
    color: var(--secundary-title);
}

/*estilos para las 3 filas*/
.header__progress-row{
    padding: 0 var(--space-md);
    display: flex;
    align-items: center;
}




/*Fila 1*/
.header__progress-row--top{
    /* display: flex; */
    justify-content: space-between;
    /* border: 2px solid lightslategrey; */
    grid-area: row1;
    
}

/*Fila 2*/
.header__progress-row--middle{
    grid-area: row2;
    justify-content: space-between;
}

.header__progress-row--top,
.header__progress-row--middle{
    font-family: var(--font-details);
    font-weight: var(--weight-bold);
    font-size: var(--font-size-small);
    opacity: 0.9;
    color: var(--text-colour);
}

/*Fila 3*/
.header__progress-row--bottom{
    /* border: 2px solid lightslategrey; */
    grid-area: row3;
}

.header__progressbar-text{
    font-family: var(--text-colour);
}
/*fix de la barra fantasma:
dentro del header, la barra debe tomar todo el ancho 
disponible para no perderse o colapsar
*/

.header__progress-row .progress-bar{
    width: 100%;
    margin: 0;
}

.header__breadcrumbs{
    font-family: var(--font-details);
    font-size: var(--font-size-small);
    color: var(--text-colour);
    display: flex;
    gap: var(--space-xs);
    

}
.header__separator{
    color: var(--principal-title);
    font-weight: var(--weight-bold);
}

/*información de la fase*/
.phase-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-md);
    text-align: center;
    margin-bottom: var(--space-xxl);
}

.phase-title{
    font-family: var(--font-titles);
    font-weight: var(--weight-normal);
    font-size: var(--font-size-h1);
    color: var(--principal-title);
}
.phase-description{
    font-size: var(--font-size-small);
    font-style: italic;
}
.notice{
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-sm) var(--space-md) ;
    gap: var(--space-sm);
    border-radius: var(--radius-full);
    font-family: var(--font-details);
    font-weight: var(--weight-bold);
    font-size: var(--font-size-xsmall);
    
    
}

.notice--neutral{
    background-color: color-mix(in srgb, var(--principal-title) 15%, transparent);
    border: 1px solid var(--cerulean-blue-700);
    color: var(--cerulean-blue-950);
}

.notice__icon{
    border: 2px solid var(--cerulean-blue-950);
    border-radius: 50%;
    display: block;
    
    /*para círculo perfecto*/
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--space-lg);
    height: var(--space-lg);
    flex-shrink: 0;/*evita que el círculo se deforme en las pantallas pequeñas*/
}



.mailbox-faq__title{
    font-family: var(--font-titles);
    font-size: var(--font-size-h2);
    color: var(--cerise-800);
    margin-bottom: var(--space-sm);
}

.mailbox-faq__text{
    font-family: var(--font-body);
    font-size: var(--font-body);
    color: var(--text-colour);
    margin-bottom: var(--space-lg);
}

.form__input--textarea{
    resize: none;
}


/*las 2 siguientes resetean el padding y el gap que form__card definió*/
.form__card--split{
    padding: 0;
    overflow: hidden;
}

.form__card--split .form__grid{
    gap: 0;
    margin-top: 0;
}

/*le devuelve al form su padding*/
.form--padded{
    padding: var(--space-xl);
}

.mailbox-faq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--zumthor-300);
    height: 100%;
    padding: var(--space-xl) var(--space-xl) var(--space-xl) var(--space-xxl);/*este padding es propio de este container*/
}

.mailbox-faq__link{
    text-align: center;
    display: block;
    text-decoration: none;
    width: fit-content;
}


/*página de faqs*/



.faq-container{
    position: relative;
    z-index: var(--z-normal);
    margin: var(--space-md);
    padding: 0 var(--space-md);
}

.faq__card{
    background-color: var(--background-secundary);
    padding: var(--space-lg);
    border-radius: var(--radius-smooth);
    box-shadow: 0 0 5px var(--cerulean-blue-950);
    border: 1px solid var(--shark-200);
    max-width: 800px;
    margin: var(--space-xl) auto;
}

.faq__header{
    text-align: center;
    margin-bottom: var(--space-xl);
}

.faq__title{
    font-family: var(--font-titles);
    font-size: var(--font-size-h1);
    color: var(--principal-title);
    margin-bottom: var(--space-xs);
}

.faq__subtitle{
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    color: var(--text-colour);
    opacity: 0.8;
}

.faq__link-inline{
    color: var(--principal-title);
    text-decoration: underline wavy;
    font-weight: var(--weight-medium);
}

/*lista de preguntas, de los details*/
.faq__list{
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

/*contenedor de details*/
.faq__item{
    background-color: var(--background-secundary);
    border: 2px solid var(--shark-300);
    border-radius: var(--radius-smooth);
    overflow: hidden;
    transition: border-color 0.3s ease;
}

.faq__item[open]{
    border-color: var(--principal-title);
}

/*summary*/
.faq__question{
    padding: var(--space-md) var(--space-lg);
    font-family: var(--font-details);
    font-size: var(--font-size-h3);
    font-weight: var(--weight-medium);
    color: var(--secundary-title);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    list-style: none; /*quita la flecha rudimentarua*/
    
}

.faq__icon-wrapper{
    position: relative;
    width: var(--font-size-small);
    height: var(--font-size-small);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*ocultar el marcador por defeccto en webkit como chrome o safari*/
.faq__question::-webkit-details-marker{
    display: none;
}

.faq__question:hover{
    color: var(--principal-title);
}

/*ícono de la flecha al abrirse, lo hacemos rotar*/
.faq__icon{
    font-size: var(--font-size-small);
    color: var(--shark-500);
    transition: transform 0.3s ease;
}

/*estado inicial del ícono de minimizar*/
.faq__icon--minus{
    opacity: 0;
    transform: rotate(-90deg);
}

/*cuando el details se abre*/
.faq__item[open] .faq__question{
    font-weight: var(--weight-bold);
    color: var(--bright-sun-600);
}
/*el ícono de + gira 90 grados y se va desvaneciendo*/
.faq__item[open] .faq__icon:not(.faq__icon--minus){
    
    transform: rotate(90deg);
    opacity: 0;
}

/*el icono de - gira a su posicion original de 0 grados y aparece*/
.faq__item[open] .faq__icon--minus{
    color: var(--shark-950);
    opacity: 1;
    transform: rotate(0deg);
}

/*el div con la respuesta*/
.faq__answer{
    padding: 0 var(--space-lg) var(--space-md) var(--space-lg);
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    color: var(--text-colour);
    opacity: 0.9;
    border-top: 2px solid var(--principal-title);
    
    margin-top: var(--space-xs);
    padding-top: var(--space-md);
}

/*card de asesores*/
/*bloque de nav tab*/
.tabs{
    display: flex;
    flex-wrap: wrap;/*así bajarán de línea en móviles*/
    gap: 0;
    justify-content: flex-start;
    margin:0 auto var(--space-xl) auto;

    /*corresponde a la caja principal*/
    border: 2px solid var(--shark-400);
    border-radius: var(--radius-smooth);
    width: fit-content;

    /*corta cualquier elemento hijo que se quiera salir del contenedor*/
    overflow: hidden;
}

.tabs__link{
    font-family: var(--font-details);
    font-size: var(--font-size-small);
    font-weight: var(--weight-medium);
    color: var(--shark-500);
    padding: var(--space-md) var(--space-lg);
    
    
    border: 1px solid var(--shark-400);   

    box-shadow: inset 0 -3px 0 transparent;
    transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.tabs__link:hover{
    background-color: var(--bright-sun-200);
}
.tabs__link--active{
    color: var(--cerulean-blue-950);
    box-shadow: inset 0 -3px 0 var(--cerulean-blue-950);
}

/*esti quita el brode derecho del 
último tab link para que no se sobreponga 
con el del contenedor*/
.tabs__link:last-child{
    border-right: none;
}

.tabs__link--active{
    background-color: var(--bright-sun-200);
    border-bottom-color: var(--cerulean-blue-950);
}


/*Parte de la paginacipon*/
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-sm);
    margin: var(--space-xl) 0 var(--space-xxl) 0;
}

.pagination__btn,
.pagination__page{
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: var(--font-details);
    font-weight: var(--weight-bold);
    
    
    
    
    transition: all 0.3s ease;
}

.pagination__btn{
    color: var(--observatory-800);
    width: fit-content;
    height: fit-content;
}

.pagination__page{
    background-color: var(--observatory-50);
    /* border: 0.5px solid var(--observatory-700); */
    border-radius: var(--radius-smooth);
    color: var(--secundary-title);
    width: 44px;
    height: 44px;
}

.pagination__page:hover{
    background-color: var(--secundary-title);
    color: var(--observatory-100);
    border-color: var(--secundary-title);
}

/*modificador para la página actual*/
.pagination__page--active{
    background-color: var(--secundary-title);
    color: var(--observatory-50);
    border-color: var(--secundary-title);
    pointer-events: none;/*así no le van a dar clic a una página donde ya está*/
}


/*empty state*/
.empty-state{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    /*hará que abarque todas las columnas 
    pese a que tenemos un contenedor grid*/
    grid-column: 1/-1;
    
    padding: var(--space-xxl) var(--space-md);
    background-color: var(--cerulean-blue-50);
    border: 2px dashed var(--cerulean-blue-500);
    border-radius: var(--radius-smooth);
    margin-top: var(--space-md);

}

.empty-state__icon{
    font-size: var(--font-size-big);
    color: var(--cerulean-blue-400);
    margin-bottom: var(--space-md);
}

.empty-state__title{
    font-family: var(--font-titles);
    font-size: var(--font-size-h2);
    color: var(--principal-title);
    margin-bottom: var(--space-xs);
}

.empty-state__text{
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    color: var(--text-colour);
    max-width: 500px;
}

/*carrusel*/

.splide-container-call{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1.5rem;
    border-radius: var(--radius-smooth);
    
}
.splide-call-card{
    background-color: var(--zumthor-200);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-smooth);
    padding: 0 var(--space-md) var(--space-md) var(--space-md);
}



.splide-container-call .splide{
    min-width: 0;
}

.call-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);    
    grid-template-rows: repeat(2, 1fr);    
    gap: 0.8rem;
    align-content: center;
    
    
}

.call-grid-card{
    background-color: var(--shark-300);
    border-radius: var(--radius-smooth);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1.5px solid var(--shark-500);
}

.call-grid-card:hover{
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.call-grid-card__image{
    height: 70px;
    
}
.splide-call-card__image{
    width: 100%;
    height: 100px;
    object-fit: cover;
    display: block;
}

.splide-call-card__content{
    padding: var(--space-md);
    text-align: center;
    /*display: flex;
    flex-direction: column;
    flex-grow: 1; empujará el botón hacia abajo cuando el texto sea corto*/
}

.splide-call-card__title{
    font-size: var(--font-size-h3);
    font-weight: var(--weight-bold);
    color: var(--text-colour);
    margin: 0;
}

.splide-call-card__text{
    font-size: var(--font-size-body);
    color: var(--text-colour);
    margin-bottom: var(--space-lg);
    line-height: 1.5;
}

.splide-call-card__button{
    margin-top: auto;
    background-color: var(--principal-title);
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: var(--space-sm) var(--space-md);
    border-radius: var(--radius-smooth);
    font-weight: var(--weight-bold);
    transition: background-color 0.3s ease;
}

/*hacer miniaturas a los li del carrusel secundario*/

#splideGrid .splide-call__image{
    height: 100px;
}

#splideGrid .splide-call-card__text,
#splideGrid .splide-call-card__button{
    display: none;
}

#splideGrid .splide-call-card__content{
    padding: var(--space-md);
    justify-content: center;
}

#splideGrid .splide-call-card__title{
    font-size: var(--font-size-body);
    margin: 0;
    text-align: center;
}

#splideGrid .splide-call-card{
    cursor: pointer;
}

/*quitar el brode horroroso del splide*/
#splideGrid .splide__slide.is-active{
    border: none;
}

#splideGrid .splide__slide{
    border: none;
    opacity: 1.;
}

/*contenedor principal del flip card*/
.flip-card{
    background-color: transparent;
    width: 100%;
    aspect-ratio: 1/1;/*cuadradas*/
    perspective: 1000px; /*para es espacio 3d*/
}

/*contendor interno, el que se encarga del giro*/
.flip-card__inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s cubic-bezier(0.4, 0.2, 0.2, 0.1);
    transform-style: preserve-3d;
}

/*el hover es el que dispara el giro*/
.flip-card:hover .flip-card__inner{
    transform: rotateY(180deg);
}

/*las dos caras, frente y detrás*/
.flip-card__front,
.flip-card__back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;/*es la propiedad que oculta la cara cuando está de espaldas, para safari*/
    backface-visibility: hidden; /*para los demás navegadores*/
    border-radius: var(--radius-smooth);
    overflow: hidden;
}

/*estilos para la parte trasera*/
.flip-card__back{
    background-color: var(--ods-color);
    color: #ffffff;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--space-md);
    text-align: center;
}

.flip-card__button{
    margin-top: var(--space-md);
    background-color: #fff0fa;
    color: var(--text-colour);
    border-radius: var(--radius-smooth);
    font-family: var(--font-details);
    font-weight: var(--weight-medium);
    padding: var(--space-xs);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.flip-card__button:hover{
    background-color: #000;
    
    color: #ffffff;
}

.flip-card__title-back{
    font-family: var(--font-titles);
    font-size: var(--font-size-h2);
    font-weight: var(--weight-normal);
}

.flip-card__description{
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    line-height: 1.5;
}


/*modulo 2 fase 1*/

.content__title{
    font-family: var(--font-titles);
    color: var(--principal-title);
    font-size: var(--font-size-h1);
    margin-bottom: var(--space-xl);
}

.content__subtitle{
    font-family: var(--font-titles);
    color: var(--secundary-title);
    font-size: var(--font-size-h2);
}

.ods-header__image{
    width: 200px;
    height: auto;
    object-fit: contain;
}

.ods-header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--space-lg);
    padding-bottom: var(--space-lg);
    margin-bottom: var(--space-xl);
    border-bottom: 2px solid var(--zumthor-300);
}

.ods-header__title{
    margin: 0;
}

.phase-goal{
    text-align: left;
    padding: var(--space-md) var(--space-lg);
    background-color: var(--bright-sun-100);
    border-radius: var(--radius-smooth);
    border-left: 6px solid var(--details);
    max-width: 605px;
    margin: var(--space-md);
    
}

.phase-goal__subtitle{
    font-size: var(--font-size-body);
    font-weight: var(--weight-normal);
    font-family: var(--font-titles);
    color: var(--secundary-title);
}
.phase-goal__text{
    font-size: var(--font-size-small);
}

/*estilos para el chatbot*/

/*botón flotante*/
.chatbot-trigger{
    position: fixed;
    bottom: var(--space-lg);
    right: var(--space-lg);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--navbar);
    color: var(--cerise-50);
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: var(--z-modal);
    transition: transform 0.3s, background-color 0.3s ease-in-out;
}

.chatbot-trigger:hover{
    background-color: var(--cerise-800);
    transform: scale(1.05);
}

/*ventana del chat*/
.chatbot{
    overscroll-behavior-y: contain;

    position: fixed;
    bottom: var(--space-xxl);
    right: var(--space-lg);
    width: 350px;
    height: 500px;
    background-color: #ffffff;
    border-radius: var(--radius-smooth);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    z-index: var(--z-intermediate);
    overflow: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/*modificador para ocultar el chat*/
.chatbot--hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    /* transition: opacity 0.3 ease, visibility 0.3s ease; */
}

/*mensajes*/
.chatbot__messages{
    flex: 1; /*para tomar todo el espacio disponible*/
    padding: var(--space-md);
    overflow-y: auto;/*permite el scroll cuando hay muchos mensajes*/
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    background-color: var(--shark-100);
    background-color: var(--observatory-50);
}

/*alinear burbujas*/
.chatbot__message{
    
    display: flex;
    gap: var(--space-sm);
    align-items: flex-end;/*esto hará que el avatar se alinee a la hora*/
}

.chatbot__message-container{
    max-width: 85%;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/*alineaciónburbuja para usuario*/
.chatbot__message--user{
    justify-content: flex-end;
}

/*estilo de las burjas*/
.chatbot__bubble{
    width: fit-content;
    padding: var(--space-sm) var(--space-md);
    border-radius: var(--radius-smooth);
    font-size: var(--font-size-body);
    position: relative;
    
}

/*burbuja para ia*/
.chatbot__message--ai .chatbot__bubble{
    background-color: var(--observatory-100);
    color: var(--observatory-900);
    border-bottom-left-radius: 2px;
}

/*estilo para user*/
.chatbot__message--user .chatbot__bubble{
    background-color: var(--cerise-500);
    color: var(--cerise-50);
    border-bottom-right-radius: 2px;
}

/*span donde se pone lo del tiempo*/
.chatbot__time, .chat__message-name
{
    font-size: var(--font-size-xsmall);
    color: var(--observatory-700);
    display: block;
    margin-top: var(--space-xs);
    

}

.chatbot__message--user .chatbot__time{
    
    text-align: right;
}

.chatbot__form{
    width: 100%;
    
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chatbot__close-btn,
.chatbot__attach-btn,
.chatbot__send-btn{
    border: none;
    background-color: transparent;
}
.chatbot__attach-btn,
.chatbot__send-btn{
    font-size: var(--font-size-h3);
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    padding: var(--space-xs);
}

.chatbot__attach-btn{
    color: var(--shark-500);
}
.chatbot__attach-btn:hover{
    color: var(--principal-title);
}

.chatbot__send-btn{
    color: var(--principal-title);
}
.chatbot__send-btn:hover{
    color: var(--cerulean-blue-900);
    transform: scale(1.1);
}


.chatbot__close-btn{
    
    position: absolute;
    right: 1rem;
    cursor: pointer;
    font-size: var(--font-size-body);
    color: var(--cerise-50);
    transition: color 0.3s ease-in-out;
}

.chatbot__close-btn:hover{
    color: var(--bright-sun-100);
}

.chatbot__header{
    background-color: var(--navbar);
    padding: var(--space-sm);
    color: var(--cerise-50);
}

.chatbot__name{
    font-size: var(--font-size-body);
}

.chatbot__statuts{
    font-size: var(--font-size-small);
}

.chatbot__input{
    
    width: 80%;
    background-color: transparent;
    padding: var(--space-sm);
    border: 1px solid var(--shark-300);
    border-radius: var(--radius-ultra-smooth);
    font-size: var(--font-size-body);
    font-family: var(--font-body);

    /*para que el textarea sea tipo whatsapp y los usuarios no deformen el diseño*/
    resize: none;/*evita que el usuario eestire la esquina inferior*/
    overflow-y: hidden;/*mostrará el sroll hacia abajo o en el eje y*/
    max-height: 120px; /*es lo más alto que puede llegar, si no, va a tapar el chat*/
    transition: border-color 0.3s ease;
}

.chatbot__input:focus{
    outline: none;
    border-color: var(--principal-title);
}
.chatbot__message-top{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-xs);
    margin-bottom: var(--space-xs);
}
.chatbot__message--user .chatbot__message-top{
    padding: 0 ;
    justify-content: flex-end;
}

.chatbot__message--ai .chatbot__message-container{
    
    justify-content: flex-start;
}

.chatbot__message--user .chatbot__message-container{
    justify-self: flex-end;
}
.chatbot__message--ai .chatbot__message-top{
    
    justify-content: flex-start;
}

.chatbot__message--user .chatbot__message-top{
    justify-self: flex-end;
}

.chatboot__footer{
    
    border-top: 2px solid var(--observatory-500);
    width: 100%;
    min-width: 0;
    padding: var(--space-md) var(--space-xs) ;

}


/*puntitos de escribiendo*/
.chatbot__bubble--typing{
    display: flex;
    gap: var(--space-xs);
    align-items: center;
    padding: var(--space-md) var(--space-lg);
}

/*el puntito*/
.typing-dot{
    width: 6px;
    height: 6px;
    background-color: var(--observatory-950);
    border-radius: 50%;
    animation:  bounce 1.4s infinite ease-in-out both;
}

/*se retrasan la animación del segundo y tercero para crear una animación de ola*/
.typing-dot:nth-child(1) { animation-delay: -0.32s;}
.typing-dot:nth-child(2) { animation-delay: -0.16s;}

/*la animación del salto*/
@keyframes bounce {
    0%, 80%, 100%{
        transform: scale(0);
    }
    40% {transform: scale(1);}
}


/*estilos markdowns para la respuesta de la IA*/



/*MEDIA QUERIES*/

/*--------------------
    footer responsive
------------------------*/

@media (max-width: 768px){

    /*footer*/
    .footer__container{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer__brand{
        align-items: center;
    }

    .footer__social{
        justify-content: center;
    }

    .footer__legal-container{
        flex-direction: column;
        text-align: center;
    }

    .footer__legal-list{
        flex-direction: column;
        gap: var(--space-sm);
    }
    
    /*Form de registro responsivo*/

    .form__grid{
        grid-template-columns: 1fr;
    }

    /* .form{
        grid-template-columns: 1fr;
    } */
}


