<!DOCTYPE html>
<html lang="es">
<head>
    <!-- <%- include('partials/head') %> -->
    <!-- Estilos base de Splide -->
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">  
    <!--librería de Splide desde el CDN -->
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-grid@0.4.1/dist/js/splide-extension-grid.min.js"></script>
    <script  defer src="/js/carrusel.js"></script>
    <link rel = "stylesheet" href="css/style.css">
    <script src = "js/main.js" defer></script>
    <title>Qué es | Nova 2030</title>
</head>
<body>
    <div class = "page page--full">

        <!--Llamada al sidebar-->
        <!-- <%- include('partials/sidenavbar') %> -->

        <!--Llamada al header-->
        <!-- <%- include('partials/header') %> -->

        
        
        <!--Contenido específico de la página actual-->
        <div class="content">
            <main class = "page page--full">
            
                

            </main>
        </div>
       

        <!--Llamada al sidebar de anuncios-->
        <!-- <%- include('partials/sidebar-anuncios') %> -->

        <!--Llamada al footer-->
        <!-- <%- include('partials/footer') %> -->
        
    </div>
</body>
</html>